.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  background-image: url('../../assets/cool-background-4.png');
  background-repeat: no-repeat;
  background-size: cover;

}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.text{
  color: #212121;
}

.nav-bar{
  background: #DBE6F6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #C5796D, #DBE6F6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #C5796D, #DBE6F6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}